body { 
	visibility: hidden 
}

.navmargin {
	margin-top: 2em;
}

h2 {
    white-space: normal;
}

.highlight-wrapper {
    color: #24ee24;
    position: relative;
}

.highlight-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
